<div data-role="page">
 
        <div data-role="header" data-position="fixed">
            <h1 class="header-title">Photy Albums</h1>
        </div><!-- /header -->
 
        <div data-role="content">

			<div class="album-list">
				
			</div>

         </div><!-- /content -->
 
        <div data-role="footer">
            <h4></h4>
        </div><!-- /footer -->
 
    </div><!-- /page -->




