
<div data-role="page">
<div class="blackout">
</div>

  <div data-role="header" data-position="fixed">
    <div class="header-add"><button class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-plus">Add New</button> </div>
  </div><!-- /header -->

  <div data-role="content">
  
  <div class="add-album">
  </div>

   <div class="album-list">

  </div>
    

  
</div><!-- /content -->

<div data-role="footer">
  <h4></h4>
</div><!-- /footer -->

</div><!-- /page -->

