<!DOCTYPE html>
<html>
<head>
  <title>Photy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css" />
<script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<%= yield %>

</body>
</html>
